@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Epilogue";
  src: url("/fonts/Epilogue-VariableFont_wght.ttf");
}

@font-face {
  font-family: "MonumentExtended-Regular";
  src: url("/fonts/MonumentExtended-Regular.otf") format("opentype");
}

@layer components {
  .custom-h1 {
    @apply text-2xl text-black dark:text-white md:text-4xl;
  }

  .switchTextColor {
    @apply text-black dark:text-white;
  }
}

@layer base {
  body {
    @apply bg-customWhite text-black dark:bg-[#191919] dark:text-white;
  }

  * {
    @apply border-[#191919] dark:border-[#333333];
  }
}

/* Override the accent color variable */
/* :root {
  --media-accent-color: #ff5722;
} */

/* HAMBURGER */

/* From Uiverse.io by Cevorob */
.burger {
  position: relative;
  width: 30px;
  height: 25px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: rgb(0, 0, 0);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

/* in dark mode */

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 20px;
  left: 5px;
}

/* HAMBURGER END */

@media (max-width: 768px) {
  ::selection {
    background: black;
    color: white; /* Optional: change the text color for better visibility */
  }
}

#triangle {
  @apply bg-customWhite dark:bg-[#333333];
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  width: 20px;
  height: 20px;
}

body {
  background-color: theme("colors.customWhite") !important;
}

.dark body {
  background-color: theme("colors.customBlack") !important;
}

body {
  /* @apply !dark:bg-customBlack !bg-customWhite; */
  color: white;
  font-family: "Epilogue";
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;

  /* Add max width + center */
  max-width: 2048px; /* you can adjust this - 1280px, 1440px, 1600px are common */
  margin-left: auto;
  margin-right: auto;
}

.ql-toolbar.ql-snow {
  border: 1px solid black !important;
}

.ql-container.ql-snow {
  border-left: 1px solid black !important;
  border-right: 1px solid black !important;
  border-bottom: 1px solid black !important;
}

.ql-editor {
  font-family: "Epilogue";
  font-size: 1.125rem;
}

.ql-editor.ql-blank::before {
  color: black !important;
}

html.dark .burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

html.dark .ql-fill {
  fill: white !important;
}

html.dark .ql-stroke {
  stroke: white !important;
}

html.dark .ql-editor.ql-blank::before {
  color: rgba(255, 255, 255, 0.427) !important;
}

html.dark .ql-toolbar.ql-snow {
  border: 1px solid white !important;
}

html.dark .ql-container.ql-snow {
  border-left: 1px solid white !important;
  border-right: 1px solid white !important;
  border-bottom: 1px solid white !important;
}

html.dark ::selection {
  background: white;
  color: black;
}

.titlebar {
  display: none !important;
}

h1 {
  font-family: "MonumentExtended-Regular", sans-serif;
}

.text-gradient {
  background: #016db0;
  background: linear-gradient(to right, #016db0 0%, #01ffca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 1px; /* Width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff; /* Color of the handle */
}

/* SCROLL BAR END */

/* left CLERK */

/* .cl-internal-1rngkff {
  background: #191919 !important;
  color: white !important;
  font-family: "Epilogue";
  font-optical-sizing: auto;
  font-style: normal;
  border-radius: 0% !important;
  box-shadow: none !important;
  border-top: 1px solid white !important;
  border-left: 1px solid white !important;
  border-bottom: 1px solid white !important;
}

.cl-internal-pp7u0o {
  color: white;
}

.cl-internal-1c61r6f {
  box-shadow: none !important;
  border-radius: 0% !important;
}

.cl-internal-190cjq9 {
  color: white !important;
}

.cl-internal-1una0r3 {
  background: #191919 !important;
  border: 0px !important;
  color: white !important;
}

.cl-internal-c2xpfh {
  background: #191919 !important;
  color: white !important;
  font-family: "Epilogue";
  font-optical-sizing: auto;
  font-style: normal;
  border-radius: 0% !important;
  box-shadow: none !important;
}

.cl-internal-3gh7hq {
  color: white !important;
}

.cl-internal-bolkfx {
  color: white !important;
}

.cl-internal-zpbffa {
  color: black !important;
  background-color: #01ffca;
}

.cl-profileSectionTitleText {
  color: white !important;
}

.cl-internal-1u67iw4 {
  background: #01ffca;
}
.cl-internal-1u67iw4:hover {
  background: #016db0 !important;
  color: white !important;
}

.cl-profileSectionPrimaryButton__danger {
  background: #ff0000 !important;
  color: white !important;
}

.cl-navbarButton {
  background: #01ffca !important;
  margin-bottom: 10px;
  color: black !important;
}

.cl-internal-c2xpfh {
  border: 1px solid white !important;
}

.cl-internal-1j5cao4 {
  background-color: transparent !important;
  color: white !important;
  opacity: 1 !important;
}

.cl-internal-141wpcl {
  opacity: 1 !important;
}

.cl-internal-k7p5wl {
  background-color: #191919 !important;
}

.cl-internal-1pz8pdy {
  color: white !important;
}

.cl-internal-dwfyg3 {
  color: white;
  border: 1px solid white;
  border-radius: 0% !important;
  margin: 10px 0px;
}

.cl-internal-dwfyg3:hover {
  color: white !important;
}

.cl-internal-vox37u {
  color: white !important;
}

.cl-rootBox {
  width: 80%;
}

.cl-cardBox {
  width: 100%;
}
.cl-internal-1rngkff {
  flex: 0 0 22.25rem;
  max-width: 22.25rem;
} */

/* below 1440 change flex to this class .cl-internal-1rngkff {
  flex: 0 0 22.25rem;
  max-width: 22.25rem;
} */

/* @media screen and (max-width: 1080px) {
  .cl-internal-1rngkff {
    flex: 0 0 15rem;
    max-width: 15rem;
  }
}

.cl-headerTitle {
  color: white !important;
}

.cl-formFieldLabel {
  color: white !important;
} */
.ql-editor {
  box-sizing: unset !important;
  height: 500px !important;
  overflow: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232300;
}

.loader {
  --dim: 3rem;
  width: var(--dim);
  height: var(--dim);
  position: relative;
  animation: spin988 2s linear infinite;
}

.loader .circle {
  /* --color: #ffffff; */
  --color: #01ffca;
  --dim: 1.2rem;
  width: var(--dim);
  height: var(--dim);
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
}

.loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}

.loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}

.loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}

.loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }

  20%,
  25% {
    transform: scale(1.3) rotate(90deg);
  }

  45%,
  50% {
    transform: scale(1) rotate(180deg);
  }

  70%,
  75% {
    transform: scale(1.3) rotate(270deg);
  }

  95%,
  100% {
    transform: scale(1) rotate(360deg);
  }
}

ul::-webkit-scrollbar {
  display: none;
}

mux-player img[slot="poster"] {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.video-js .vjs-big-play-button {
  border: none !important;
}

.video-js .vjs-big-play-button:hover {
  /* make the button big on hover */
  transform: scale(1.1);
  z-index: 1;
  transition: transform 0.3s ease;
}

.video-js .vjs-loading-spinner::before {
  display: none !important;
}

.video-js .vjs-control-bar {
  background: rgba(0, 0, 0, 0.5) !important; /* semi-transparent black */
  -webkit-backdrop-filter: blur(6px); /* Safari support */
  backdrop-filter: blur(6px); /* soft blur for modern glass effect */
  transition: background 0.3s ease;
}

.video-js .vjs-tech {
  object-fit: contain !important;
  background-color: black;
}
